// Desktop Navbar Styles
@media screen and (min-width: 768px) {
    .mobile-navbar {
        display: none;
    }

    .desktop-navbar {
        height: 100vh;
        width: 30rem;

        position: fixed;
        top: 0;
        left: 0;

        // background-color: rgba(0, 0, 255, 0.108);
        background-color: var(--bg-dark);

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-y: scroll;

        .profile-pic {
            height: 15rem !important;
            width: 15rem !important;
            min-width: 15rem;
            min-height: 15rem;
            flex-shrink: 0;
            border-radius: 50%;
            margin: 2rem auto;
            overflow: hidden;


            border: 8px solid color-mix(in srgb, white, transparent 85%);

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .profile-name {
            font-size: 2.4rem;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: var(--medium-font-color);
            font-family: var(--default-font);
        }

        nav {
            width: 100%;
            flex-grow: 1;

            ul {
                height: 100%;
                list-style: none;
                padding: 0 0 20px 30px;
                margin: 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                li {
                    width: 100%;
                    padding: 15px 20px;
                    align-items: center;
                    display: flex;


                    .lucide {
                        /* Change this! */
                        color: #ffffff;
                        width: 30p;
                        height: 30px;
                        stroke-width: 1px;
                    }


                    a {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        white-space: nowrap;

                        padding: 15px 10px;

                        font-family: var(--nav-font);
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--medium-font-color);
                        transition: 0.3s;
                        text-decoration: none;


                        &:hover {
                            color: #007BFF;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .desktop-navbar {
        display: none;
    }

    .mobile-navbar {
        width: 100vw;
        height: var(--mobile-nav-height);

        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--bg-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;

        z-index: 1002;

        .profile-name {
            font-size: 3.0rem;
            font-weight: 600;
            color: var(--light-font-color);
            // background: linear-gradient(to right, #8084cc 0%, #ccd9fd 100%);
            // -webkit-background-clip: text;
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
            font-family: var(--default-font);
            width: 100%;
        }
    }

    nav {
        .logo {
            display: flex;
            align-items: center;

            img {
                height: 25px;
                width: auto;
                margin-right: 10px;
            }


        }

        ul {
            list-style: none;
            display: none;

            li {
                margin-left: 1.5rem;

                a {
                    text-decoration: none;
                    color: var(--light-font-color);
                    font-size: 95%;
                    font-weight: 400;
                    padding: 4px 8px;
                    border-radius: 5px;

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;

        .line {
            width: 25px;
            height: 1px;
            background-color: var(--light-font-color);
            display: block;
            margin: 7px auto;
            transition: all 0.3s ease-in-out;
        }
    }

    .hamburger-active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line {
            &:nth-child(2) {
                width: 0px;
            }

            &:nth-child(1),
            &:nth-child(3) {
                transition-delay: 0.3s;
            }

            &:nth-child(1) {
                transform: translateY(12px);
            }

            &:nth-child(3) {
                transform: translateY(-5px) rotate(90deg);
            }
        }
    }

    .menubar {
        position: absolute;
        top: 0;
        left: -80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        height: 100vh;
        padding: 20% 0;
        background: var(--bg-dark);
        transition: all 0.3s ease-in;
        z-index: 1001;

        &.active {
            left: 0;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

    }

    ul {
        width: 100%;
        padding: 0;
        list-style: none;

        li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            padding-left: 30%;
            // margin-bottom: 32px;

            .lucide {
                /* Change this! */
                width: 30px;
                color: var(--medium-font-color);
                height: 30px;
                stroke-width: 1px;

            }


            a {
                width: fit-content;

                padding: 15px 10px;

                font-family: var(--nav-font, --default-font);
                font-size: 1.6rem;
                font-weight: 400;
                color: var(--medium-font-color);
                transition: 0.3s;
                text-decoration: none;


                &:hover {
                    color: #007BFF;
                }
            }
        }
    }
}